<div class="ht__bradcaump__area"
  style="background: rgba(0, 0, 0, 0) url(./assets/images/bg/2.jpg) no-repeat scroll center center / cover ;">
  <div class="ht__bradcaump__wrap">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="bradcaump__inner text-center">
            <h2 class="bradcaump-title">Design Generator</h2>
            <nav class="bradcaump-inner">
              <a class="breadcrumb-item" routerLink="/">Home</a>
              <span class="brd-separetor">/</span>
              <span class="breadcrumb-item active">Design Generator</span>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="htc__product__details pt--120 pb--100 bg__white ">
  <div class="container ">
    <div class="row ">

      <div class="col-md-3 col-lg-3 col-sm-6 col-xs-6 ">
        <div class="row">
          <div class="product__details__container ">

            <!-- End Small images -->
            <div class="product__big__images center-block">
              <div class="portfolio-full-image tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="img-tab-1">
                  <img [src]="this.url1"
                    alt="full-image">
                  <!-- <input type="file"> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="padding-top: 20px;">
          <div class="product__details__container">

            <!-- End Small images -->
            <div class="product__big__images center-block">
              <div class="portfolio-full-image tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="img-tab-1">
                  <input type="file" name="uploadfile1" (change)="onSelectFile1($event)" id="img1" style="display:none;" />
                  <label for="img1">
                    <ul class="pro__dtl__btn">
                      <li class="buy__now__btn"><a id="uploadButton">Upload Image 1</a></li>
                    </ul>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-1 col-lg-1 hidden-sm hidden-xs my-auto">
        <h2>
          +
        </h2>
      </div>
      <div class="col-md-3 col-lg-3 col-sm-6 col-xs-6 ">
        <div class="row">
          <div class="product__details__container">

            <!-- End Small images -->
            <div class="product__big__images center-block">
              <div class="portfolio-full-image tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="img-tab-1">
                  <img [src]="this.url2"
                    alt="full-image">
                  <!-- <input type="file"> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="padding-top: 20px;">
          <div class="product__details__container">

            <!-- End Small images -->
            <div class="product__big__images center-block">
              <div class="portfolio-full-image tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="img-tab-1">
                  <input type="file" name="uploadfile2" (change)="onSelectFile2($event)" id="img2" style="display:none;" />
                  <label for="img2">
                    <ul class="pro__dtl__btn">
                      <li class="buy__now__btn"><a id="uploadButton">Upload Image 2</a></li>
                    </ul>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-2 col-lg-2 col-sm-6 col-xs-6">
        <h2>
          =
        </h2>
      </div>
      <div class="col-md-3 col-lg-3 col-sm-6 col-xs-6 ">
        <div class="row">
          <div class="product__details__container">

            <!-- End Small images -->
            <div class="product__big__images center-block">
              <div class="portfolio-full-image tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="img-tab-1">
                  <img [src]="this.url3"
                    alt="full-image">
                  <!-- <input type="file"> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="padding-top: 20px;">
          <div class="product__details__container">

            <!-- End Small images -->
            <div class="product__big__images center-block">
              <div class="portfolio-full-image tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="img-tab-1">
                  <!-- <input type="file" name="download" id="img3" style="display:none;" /> -->
                  <label for="img3">
                    <ul class="pro__dtl__btn">
                      <li class="buy__now__btn"><a id="downloadButton">Download</a></li>
                    </ul>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="padding-top: 40px;">
      <ul class="pro__dtl__btn ">
        <li class=" center-block">
          <input type="range" [(ngModel)]="rangeValue" name="rangeValue"  min="0" max="10">
        </li>
      </ul>
    </div>
  </div>
</section>