<div class="row">
  <div class="col-md-6">
    <form #f="ngForm" (ngSubmit)="save(f.value)">
      <div class="form-group">
        <label for="title">Image Link</label>
        <input #image="ngModel" [(ngModel)]="banner.image" name="image" id="image" type="text" class="form-control"
          placeholder="Image Link" required>
      </div>
      <div class="form-group">
        <label for="name">Image ID</label>
        <input #imageId="ngModel" [(ngModel)]="banner.imageId" name="imageId" id="imageId" type="text" class="form-control"
          placeholder="Image Id" required>
      </div>
      <button class="btn btn-primary">Save</button>
      <button type="button" *ngIf="banner._id" (click)="delete()" class="btn btn-danger">Delete</button>
    </form>
  </div>
</div>