<!-- 
<bs-navbar></bs-navbar>

<main role="main" class="container">
  <flash-messages></flash-messages>
  <router-outlet></router-outlet>
</main>
 -->
<!-- Body main wrapper start -->
<div class="wrapper ">
  <!-- Start Header Style -->
  <bs-navbar></bs-navbar>
  
  <!-- End Offset Wrapper -->
  <!-- Start Slider Area -->
  
  <!-- Start Slider Area -->
  <!-- Start Our Product Area -->
  <main role="main" >
    <flash-messages></flash-messages>
    <router-outlet></router-outlet>
  </main>
  <!-- End Our Product Area -->

  <!-- Start Footer Area -->
  <app-footer></app-footer>
  <!-- End Footer Area -->
</div>
<!-- Body main wrapper end -->
<!-- QUICKVIEW PRODUCT -->

<!-- END QUICKVIEW PRODUCT -->