
<div class="htc__login__register bg__white ptb--130"
  style="background: rgba(0, 0, 0, 0) url(./assets/images/bg/5.jpg) no-repeat scroll center center / cover ;">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <ul class="login__register__menu" role="tablist">
          <li role="presentation" class="login" ><a routerLink="/login">Reset Password</a></li>
          <!-- <li role="presentation" class="register active" ><a routerLink="/register">Register</a></li> -->
        </ul>
      </div>
    </div>
    <!-- Start Login Register Content -->
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="htc__login__register__wrap">
          <!-- Start Single Content -->
          <div id="register" role="tabpanel" class="single__tabs__panel ">
            <form class="login" #f="ngForm" (ngSubmit)="resetPassword(f.value)">
              <input type="password"#previousPassword="ngModel" ngModel class="input-lg form-control" name="previousPassword" id="previousPassword" placeholder="Old Password"
              autocomplete="off">
              <input type="password" #newPassword="ngModel" ngModel class="input-lg form-control" name="newPassword" id="newPassword" placeholder="New Password"
              autocomplete="off">
              <input type="password" #newPassword2="ngModel" ngModel class="input-lg form-control" name="newPassword2" id="newPassword2"
              placeholder="Repeat Password" autocomplete="off">
              <div class="htc__login__btn">
                  <button id="changeButton">Reset</button>
                </div>
            </form>

            
          </div>


        </div>
      </div>
    </div>
    <!-- End Login Register Content -->
  </div>
</div>